<div class = 'container'>
  <footer class = 'footer'>
    <small>
      Copyright &copy; <%=link_to 'VB Blog', '#' %>
      by <%= link_to 'VB', 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'All Articles', articles_path %></li>
      </ul>
    </nav>
  </footer> 
</div>